<form action="/api/feedback" method="post">
  {% csrf_token %}  
  <div class="div-bg  p-2  px-3 mt-2 rounded-lg "style="border: 1px solid var(--text-light);">
    <h2>Send feedback </h2>
    <p class="describtion">Send us feedback , Describe your idea what will be the new features</p>
      {% if forum and forum.id %}
      <input type="hidden" name="redirect-url" value="/forum/preview/{{forum.id}}">
      {% else %}
      <input type="hidden" name="redirect-url" value="/article/{{article.id}}"> 
      {% endif %}
      <div class=" mt--2 "> 
          <div class="mt-2"> 
            <label class="form-control-label" for="input-username">Username</label>
            <input type="text" required id="feed_username" name='username' class="div-bg form-control" placeholder="Username (e.g John Wick)" >
          </div> 
        <div> 
          <div class="mt-2">
            <label class="form-control-label" for="input-username">Email</label>
            <input type="email" required id="feed_email" class="div-bg form-control" name="email" placeholder="Email ( example@gmail.com )" >
          </div> 
        </div> 
        <div> 
          <div class="mt-2">
            <label class="form-control-label" for="input-username">Description</label>
            <textarea  required  class="div-bg form-control" name="text" placeholder="Describe your feedback" style="height: 120px;" ></textarea>
          </div>
        </div>  
        <input type="submit" class="btn btn-primary col-12 mt-3" value="Submit">
      </div> 
  </div>
</form>