{% extends 'base.html' %}
{% load static %}
{% block headlinks %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}  ">
  <link rel="stylesheet" href="{% static 'css/variable.css' %} ? {U} "> 

{% endblock headlinks %}
{% block body %}  
<div class="main-content " id="main-content" style="color: var(--bg-gray);">

    <div class="container-fluid bg-gradient-primary p-lg-4 p-2">
      <div class="col-lg-10  mx-auto text-white">
       <div class="row">
          <div class="col-lg-6 col-12 text-md-left text-center my-auto col mt-md-auto ">
            <h1 class="text-white  display-2 font-weight-700 mt-4">Explore helpful articles and learn more   </h1>
            <span class="text-white text-md ">Register now and make yourself <i class="ni ni-user-run mx-1"></i> like a Pro <i class="ni ni-spaceship mx-1"></i></span><br/>
            <a href="/user/register" class="btn btn-neutral my-md-3 my-4 text-primary  px-5">Register</a>
          </div>
          <div class="col-lg-5 mt-4 col-12 flex justify-content-md-end justify-content-center ">
            <img src="static/assets/img/theme/img (1).jpg" alt="asstes" class=" ">
          </div>
       </div>
      </div>
    </div>
   
    <div class=" mt-5 px-0">
      <h2 class="display-3 mx-md-8 mt-5  mx-4 text-primary" id="createarticle">Create Articles <i class="fas fa-arrow-up display-4 mx-1"></i></h2>
      <div class="row mx-auto col-lg-10 col-12 mt-2"> 
        <div class="div-bg  col-lg-3 mx-auto  mt-4 rounded-lg  col-9"> 
            <div class="col py-5 flex flex-col align-center justify-content-center ">
              <center>
                <i class="ni ni-bulb-61 display-2 text-gray "></i>
                <h2 style="color: var(--dark-white);">Explore Your Ideas </h2>
                <span class="description" style="color:var(--text-gray);">Create an article and explain ideas  <i class="ni ni-world-2"></i></span>
              </center>
            </div> 
        </div>
        <div class="div-bg  col-lg-3 mx-auto  mt-4  col-9 rounded-lg"> 
            <div class="col py-5 flex flex-col align-center justify-content-center ">
              <center>
                <i class="ni ni-spaceship display-2 text-gray "></i>
                <h2 style="color: var(--dark-white);">Make like a pro</h2>
                <span class="description" style="color:var(--text-gray);">Write helpful articles for students , will learn more  <i class="ni ni-bulb-61"></i></span>
              </center>
      
          </div> 
        </div>
        <div class=" div-bg rounded-lg col-lg-3 mx-auto  mt-4  col-9">
          <div class="col py-5 flex flex-col align-center justify-content-center "> 
              <center>
                <i class="ni ni-paper-diploma display-2  text-gray"></i>
                <h2  style="color: var(--dark-white);">Read articles </h2>
                <span class="description" style="color:var(--text-gray);">Read our professional and help articles.</span>
              </center>
        
          </div> 
        </div>
      </div>

      <h2 class="display-3 mx-md-8 mt-8  mx-4 text-primary row" id="about">About <b class=" mx-2">  Creator Dev </b> <i class="ni ni-hat-3 mx-1 "></i> </h2>
      <div class="row mx-auto col-lg-10 col-12 mt-2">  
        <div class="col-lg-6 mx-auto mt-4">
            <img src="static/assets/img/theme/img (4).jpg" alt="asstes" class="w-100">
        </div>
        <div class="col-lg-6 bg-gradient-primary mx-auto mt-4 border border-primary">
          <p class="text-white py-2 " style="font-size: 24px;">
          <b >Creator dev is the best aritlce sharing platform. </b> where you can upload your article for free and make himself Pro.
            Join Creator Dev today and bring helpful articles for students
          </p>
        </div>
      </div>

      <h2 class="display-3 mx-md-8 mt-8  mx-4 text-primary row" id="how"> How <b class=" mx-2">  Creator Dev </b> is popular  <i class="ni ni-world-2 mx-2 "></i> </h2>
      <div class="row mx-auto bg-gradient-danger p-2 py-5  mt-4">   
        <div class="row col-lg-10 col-12 mx-auto">
          <div class=" p-3 py-4 mx-auto px-4 rounded-lg div-bg my-4 flex flex-col justify-content-center align-items-center">
            <i class="ni ni-chart-bar-32 display-3 bg-primary rounded-lg text-white shadow px-4 py-2 "></i> 
            <h1 class="text-primary display-3 mt-2" >Popularity </h1>
            <span class="describtion " style="color: var(--text-gray);">Creater Dev is most popular and famous. </span>
          </div>
          <div class=" p-3 py-4 mx-auto px-4 rounded-lg div-bg my-4 flex flex-col justify-content-center align-items-center">
            <i class="fas fa-users display-3 bg-green rounded-lg text-white shadow px-4 py-2 "></i> 
            <h1 class="text-green display-3 mt-2" >Users </h1>
            <span class="describtion " style="color: var(--text-gray);">You can create an account to maintain your course </span>
          </div>
          <div class=" p-3 py-4 mx-auto px-4 rounded-lg div-bg my-4 flex flex-col justify-content-center align-items-center">
            <i class="ni ni-paper-diploma display-3 bg-red rounded-lg text-white shadow px-4 py-2 "></i> 
            <h1 class="text-red display-3 mt-2" >Articles</h1>
            <span class="describtion " style="color: var(--text-gray);">Only registered users can share articles </span>
          </div>
        </div>
      </div>

      <h2 class="display-3 mx-md-8 mt-5  mx-4 text-primary row" id="why"> Why <b class=" mx-2">  Creator Dev </b> ? </h2>
        <div class="col">

          <div class="row col-lg-10 py-5 col-12 mx-auto  ">
            <div class="col-lg-6 col-12  my-auto">
              <div class=" rounded-lg px-2 w-100 div-bg my-auto mx-auto"> 
                <h2 class=" text-white text-gray p-2"  >1. To Explore <i class="ni ni-world-2 mx-2"></i></h2> 
                <p class="  font-weight-500 px-3 py-1 mt--2" style="color: var(--text-gray);"> 
                  This is why we need  <b>Creator Dev</b> because some  wants to learn  ideas , logics and learn more from articles.
                  If you create a new account today , you'll be able to share articles , like and comment 
                </p>
              </div>
            </div>
            <div class="col-lg-6 flex justify-content-md-end justify-content-center col-12 mt-4 ">
              <img src="static/assets/img/theme/img (2).jpg" alt="asstes" class="mx-auto" >
            </div>
          </div>

          <div class="row col-lg-10  py-5 col-12  mx-auto ">
            <div class="col-lg-5 col-12 mt-4 flex justify-content-center order-lg-1 order-2  ">
              <img src="static/assets/img/theme/img (1).jpg" alt="asstes" class="mx-auto" >
            </div>
            <div class="col-lg-6 col-12  mt-4 my-md-auto    order-lg-1 ">
              <div class="rounded-lg w-100 px-2 div-bg my-auto mx-auto"> 
                <h2 class="p-2 text-gray"  >2. To make like Pro <i class="ni ni-spaceship mx-2"></i></h2> 
                <p class=" font-weight-500 px-3 py-1 mt--2" style="color: var(--text-gray);"> 
                   Some one wants to share ideas , articles  , logics with other . Here they can create new account and start sharing helpful articles
                </p>
              </div>
            </div>
         
          </div>

          <div class="row col-lg-10 py-5 col-12 mx-auto">
            <div class="col-lg-6 col-12  my-auto">
              <div class="rounded-lg w-100 px-2 div-bg my-auto mx-auto"> 
                <h2 class="p-2 text-gray" >3. Knowledge <i class="ni ni-book-bookmark mx-2"></i></h2> 
                <p class=" font-weight-500 px-3 py-1 mt--2" style="color: var(--text-gray);"> 
                  If you want to Explore more Knowledge. You are in right place ,now search your topic and read . Knowledge is powerful weapon in life , with that life is very difficult.
                </p>
              </div>
            </div>
            <div class="col-lg-6 flex justify-content-md-end justify-content-center col-12 mt-4 ">
              <img src="static/assets/img/theme/img (3).jpg" alt="asstes" class="mx-auto" >
            </div>
            
         
          </div>
        </div>






      {% include "includes/footer.html" %}


    </div> 
</div> 

{% endblock body%}

 