{% extends 'base.html' %}
{% load static %}
{% block title %} Articles {% endblock title%}
{% block headlinks %}
  <link rel="stylesheet" href="/static/css/article/article.css"> 
  <link rel="stylesheet" href="/static/css/theme.css "> 

{% endblock headlinks %}
{% block body %} 
{% load humanize %} 
 
<div class="main-content" id="main-content">
  <div class="content">
    <h2 class="content-main-heading text-gray">Top Articles</h2>

   <div class="articles-div container-fluid flex justify-content-center  ">
      <!-- Article Box -->
      {% if articles %}
        {% for article in articles %}
          <div class=" shadow div-bg col-lg-3 p-0 col-12 my-md-0 my-2 mx-2 rounded-lg overflow-hidden">
            <div class="main-image-div">
              <img src="https://creatorsdev.herokuapp.com/media/{{article.mainImage}}" alt="asstes-loading" class="main-image">
            </div>
            <div class="article-info-div">
              <h2 class="article-title">{{article.title}}</h2>
              <div class="flex author-info">
                <span class="font-sm mx-1 text-gray">By <span class="article-username">
                {% if article.author.first_name %}
                  {{article.author.first_name}} {{article.author.last_name}}
                {% else %}
                  {{article.author.username}} 
                {% endif %}
                </span> 
                 <span class="posted_at"><i class="ni ni-like-2"></i> {{article.count_article_likes}}</span>
                 <span class="posted_at"><i class="fas fa-eye"></i> {{article.count_article_views}}</span>
                </span>
                <span ><a href="/article/{{article.id}}" class="btn btn-sm btn-primary">Preview</a></span> 
              </div>
            </div>
          </div> 
        {% endfor %}
        <!-- Pagenator --> 

            

        <div class="pagenator-div">  

         <div class="rounded-circle my-4 div-bg  border-0">
          <nav aria-label="...">
            <ul class="pagination   justify-content-end mb-0">
              {% if articles.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="/article/?page={{articles.previous_page_number}}" tabindex="1">
                    <i class="fas fa-angle-left text-primary"></i> 
                  </a>
                </li> 
              {% endif %}
              <li class="page-item active"> 
                <a class="page-link" href="#">{{current_page}}</a>
              
              </li>
              {% if articles.has_next  %} 
              <li class="page-item">
                <a class="page-link" href="/article/?page={{articles.next_page_number}}">{{articles.next_page_number}} <span class="sr-only">(current)</span></a>
              </li> 
              <li class="page-item">
                <a class="page-link" href="/article/?page={{articles.next_page_number}}">
                  <i class="fas fa-angle-right text-primary"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
         </div>
        </div>
        <!-- Pagenator ----END----  -->
        {% else %}
        Loading
      {% endif %}
   </div>
  </div>
{% include 'includes/footer.html' %}

</div>
 


{% endblock body%}