{% extends 'base.html' %}
{% load static %} 
{% block title %} Code playground {% endblock title%}

{% block body %} 
{% load humanize %}

<div class="col w-100 bg-white h-100 ">
  <div class="row h-100 w-100">
    <div class="col-lg-5  mt-1 p-0 border border-primary  ">
      <ul class="nav nav-tabs p-0 " id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link px-5 active" id="html-tab" data-toggle="tab" href="#html" role="tab" aria-controls="home" aria-selected="true">Html</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" id="css-tab" data-toggle="tab" href="#css" role="tab" aria-controls="profile" aria-selected="false">Css</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-5" id="js-tab" data-toggle="tab" href="#js" role="tab" aria-controls="contact" aria-selected="false">Js</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="html" role="tabpanel" aria-labelledby="home-tab">
        <textarea class="w-100 h-100 p-2 border-0 bg-secondary" id="htmlCode" ></textarea>
        </div>
        <div class="tab-pane fade" id="css" role="tabpanel" aria-labelledby="profile-tab">
          <textarea class="w-100 h-100 p-2 border-0 bg-secondary" id="cssCode" ></textarea>
        </div>
        <div class="tab-pane fade" id="js" role="tabpanel" aria-labelledby="contact-tab">
          <textarea class="w-100 h-100 p-2 border-0 bg-secondary" id="jsCode" ></textarea>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mx-1 p-2 px-4 ">
      <iframe id="iframe"  frameborder="1" class="w-100 h-100 font-snafs"></iframe>
    </div>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<script> 
  function run(){
    const HtmlCode = document.getElementById('htmlCode').value; 
    const CssCode = `<style>${document.getElementById('cssCode').value}</style>`
    const JsCode = document.getElementById('jsCode').value;
    const output = document.getElementById('iframe');
    output.contentDocument.body.innerHTML = HtmlCode+CssCode;
    output.contentWindow.eval(JsCode);
    
  }
  document.getElementById("htmlCode").addEventListener('keyup',run)
  document.getElementById("cssCode").addEventListener('keyup',run)
  document.getElementById("jsCode").addEventListener('keyup',run)
</script>





{% endblock body%}