{% extends 'base.html' %}
{% load static %}
{% block headlinks %}
<link rel="stylesheet" href="/static/css/user/profile.css  ">
{% endblock headlinks%}
{% block title %} Profile {% endblock title%}

{% block body %} 
{% load humanize %}
<style>
  .w-100{
    width: 100%;
  }
</style>
<div class="main-content " id="main-content">
  <div class="content">  
   {% if profile %}
    <div class="profile-content">
      <!-- Profile head info -->
      <div class="head_info">

        <div class="cover_pic "> 
          {% if profile.cover_pic %}
          <img src="https://creatorsdev.herokuapp.com/media/{{profile.cover_pic}}" alt="">
          {% else %}
          <img src="/static/assets/img/icons/user_profile_pic_default.png" alt="">
          {% endif %}
        </div>


        <!-- Profile user info -->
       <div class="author-info-div">
        <div class="user_info">
          {% if profile.profile_pic %}
          <img src="https://creatorsdev.herokuapp.com/media/{{profile.profile_pic}}" alt="">
          {% else %}
          <img src="/static/assets/img/icons/user_profile_pic_default.png" alt="">
          {% endif %}
          <div class="user_info_text w-100 ">
            <div class="flex justify-content-between">
              <span class="flname  ">
                {{profile.author.first_name}} {{profile.author.last_name}} 
              </span> 
              {% if profile.author == request.user %}
              <a href="/user/editprofile/edit" class="text-blue border-0    flex align-items-center" style="color: var(--dark-white);">
                <i class="fas fa-edit mx-2"></i>
                <span class="text-sm">Edit profile</span>
              </a>
              {% endif %}
            </div>
            <span class="username">@{{profile.author.username}} </span>
            <div class="flex">
              <span class="followers ">Followers {{profile.count_followers}}</span>
              <span class="followers " style="margin-left:.6rem;">Following {{profile.count_following}}</span>
            </div> 
          </div>
        </div>
        <!-- User Bio -->
        <div class="bio">
          <span class="followers ">
            <b>Bio</b> <br>
            <p>{{profile.bio}}</p>
        </div>
       </div>
      </div>





      <!-- Profile contents (Articles / blogs / forunm) -->
      <div class="user-contents-div" style="overflow: auto;">
         <h1 class="text-gray my-4">Articles ({{articles | length }})</h1>
        <div class="  mx-auto flex flex-wrap"> 
          <!-- Article-box -->
         {% if articles %}
         {% for article in articles %}
         <div class=" shadow div-bg col-lg-3 p-0 col-md-5 mx-auto col-11 my-md-0 my-2 rounded-lg ">
          <div class="main-image-div "   style="overflow: hidden ;">
            <img src="https://creatorsdev.herokuapp.com/media/{{article.mainImage}}" alt="asstes-loading" class="main-image" style="height: 150px;  object-fit: cover;">
          </div>
          <div class="article-info-div">
            <h2 class="article-title " style="font-size: 15px; width: 100%;overflow: hidden;">{{article.title}}</h2>
            <div class="flex author-info justify-content-between align-items-center">
              <span class="font-sm mx-1 text-gray">  
                <span class="posted_at mx-1"><i class="ni ni-like-2"></i> {{article.count_article_likes}}</span>
                <span class="posted_at mx-1"><i class="fas fa-eye"></i> {{article.count_article_views}}</span>
              </span>

            <div>
                <!-- Edit article only author -->
                {% if request.user == profile.author %}
                <a class="text-gray mr-2 pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu  dropdown-menu-right" style="background-color:var(--div-bg);" >
                  <a href="/article/edit/{{article.id}}" class="dropdown-item">
                    <i class="ni ni-single-02"></i>
                    <span>Edit</span>
                  </a> 
                  <a  href="/article/delete/{{article.id}}" class="dropdown-item text-danger" >
                    <i class="fas fa-trash"></i>
                    <span class="text-danger">Delete</span>
                  </a> 
                </div>
                {% endif %}  
                  <span>
                    <a href="/article/{{article.id}}" class="btn btn-sm btn-primary">Preview</a>
                  </span> 
            </div>
            </div>
          </div>
         </div> 
         {% endfor %}  
         {% endif %}

        <!-- Article end -->

        
        </div>
      </div>
    </div>
   {% endif %}
  </div>
</div>

{% block scripts %}
<script>
  const activeEditProfilePopUp = () =>{
    alert("hi")
  }
</script>
{% endblock scripts %}
 <script src="{% static '/js/profile.js' %}"></script>
{% endblock body%}