{% load static %}
{% load socialaccount %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %} ? {U} ">
  <link rel="stylesheet" href="{% static 'css/variable.css' %} ? {U}">
  <link rel="stylesheet" href="{% static 'css/user/forms.css' %} ? {U}">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
  <title>Creator dev / login</title>
</head>
<body>
  <!-- Header -->
  <header class=" py-2 px-lg-8 px-4 bg-gradient-primary">
    <div class="head-content">
      <div class="flex items-center wrap">
        <a href="\"><h2 class="brand-name text-white"> Creator Dev</h2></a>
      </div>
    </div>
  </header>
 <!-- Header end -->

 {% if messages %} {% for message in messages %}
 <div class="alert    col-12    z-221 alert-{{message.tags}} alert-dismissible fade show  "  role="alert" style="position: fixed; top:80px;">
   <span class="text-lg">{{message.message}}</span>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 {% endfor %} 
{% endif %}  
<div class="container pb-5 bg-secondary" id="main-content">
  <!-- Table -->
  <div class="row justify-content-center my-2">
    <div class="col-lg-8 col-md-10">
      <div class="card bg-white border-0">
        <div class="card-header bg-gradient-primary bg-transparent pb-4">
          <div class="text-white text-lg text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a target="_blank" href="{% provider_login_url "github" method="oauth2" %}" class="btn d-block border-primary  col-12 my-4 div-bg btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="/static/assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text "style="color:var(--text-gray)">Continue with Github</span>
            </a>
            <a target="_blank" href="{% provider_login_url "google" method="oauth2" %}" class="btn d-block border-primary col-12 my-4 div-bg btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="/static/assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text "style="color:var(--text-gray)">Sign up with Google</span>
            </a>
            <a target="_blank" href="{% provider_login_url "facebook" method="oauth2" %}" class="btn d-block border-primary col-12 my-4 div-bg btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="/static/assets/img/icons/common/facebook.png"></span>
              <span class="btn-inner--text "style="color:var(--text-gray)">Connect with Facebook</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-4">
          <div class="text-center text-muted mb-4">
            <span>Or sign up with credentials</span>
          </div>
          <form  action="/user/register" method="POST">
            {% csrf_token %}
            <div class="row  ">
              <div class="form-group col-lg-6">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-active-40"></i></span>
                  </div>
                  <input class="form-control text-primary " required placeholder="First name" type="text" name="first_name">
                </div>
              </div>
              <div class="form-group col-lg-6">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-like-2"></i></span>
                  </div>
                  <input class="form-control text-primary " required placeholder="Last name" type="text" name="last_name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control text-primary " required placeholder="Username" type="text" name="username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control text-primary " required placeholder="Email" type="email" name="email">
              </div>
            </div>
            <div class="form-group">
              <p>Password must be >  8 character</p>
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control text-primary " required placeholder="Password" type="password" name="password">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control text-primary " required placeholder="Confirm password" type="password" name="c_password">
              </div>
            </div>
            <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Create account</button>
            </div>
            <div class="mt-2 text-center ">
              <span class="text-muted mt-2">Already have an account? <a href="/user/login">Login</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

 <script src="{% static 'js/main.js' %}"></script>
</body>
</html>